$colorShark: #2C2D2E;
$colorWhite: #FFFFFF;
$colorAlabaster: #F9F9F9;
$colorContrast: #FF7355;
$colorTorchRed: #FF2045;
$colorOsloGrey: #87898F;
$colorPippin: #FFE3DD;
$colorPippinOpac: rgba(255, 227, 221, 0.25);
$colorTextMiddle: rgba(0, 0, 0, 0.87);
$colorPurple: rgba(107, 42, 188, 0.25);
$colorContrastSecond: rgba(255, 227, 221, 1);
$colorPurpleHeart: #6B2ABC;
$colorPersimmon: #FF7355;
$colorGreyText: rgba(135, 137, 143, 1);
$colorGreen: rgba(82, 167, 84, 1);
$colorTextPrimary: rgba(44, 45, 46, 1);